.tabItem {
    background-color: #D6E6FF;
    color: white;
}

.tabContaner {
    background-color: #D6E6FF;
    border-radius: 40px;
    padding: 25px 40px 25px 40px;
    margin-bottom: 80px;
}


.p-btn{
    padding: 7px 15px 7px 15px;
    border-radius: 50%;
}
.p-btn-active{
    background: #88abe368;
    color: #226CE5;
}