@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-outline {
  padding: 12px 32px 12px 32px;
  border-radius: 8px;
  gap: 8px;
  border: 1px solid #226ce5;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #226ce5;
}

.btn-outline:hover {
  background-color: #226ce5;
  border: 1px solid blue;
  transition: all ease-in-out 0.2s;
}

.clip-path {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    100% 100%,
    99.128% 99.716%,
    96.678% 98.944%,
    92.898% 97.806%,
    88.035% 96.425%,
    82.337% 94.922%,
    76.053% 93.419%,
    69.429% 92.037%,
    62.713% 90.9%,
    56.155% 90.128%,
    50% 89.844%,
    50% 89.844%,
    43.845% 90.128%,
    37.287% 90.9%,
    30.571% 92.037%,
    23.947% 93.419%,
    17.663% 94.922%,
    11.965% 96.425%,
    7.102% 97.806%,
    3.322% 98.944%,
    0.872% 99.716%,
    0% 100%,
    0% 0%
  );
}

.error {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7faff;
}

.error div h1 {
  font-size: 60px;
  font-weight: bold;
}

.error div p {
  font-size: 20px;
  font-weight: bold;
  color: #2d3d59;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .btn {
    width: 100%;
  }
}

/* Only for 320 width devices */

@media only screen and (max-width: 321px) and (min-width: 0px) {
  .service-slides {
    width: 280px;
  }

  .portfolio-slides {
    width: 300px;
    margin-bottom: 20px;
  }

  .review-slides {
    width: 300px;
  }
  .blog-slides {
    width: 300px;
  }
}

/* Only for 375 width devices */

@media only screen and (max-width: 376px) and (min-width: 322px) {
  .service-slides {
    width: 360px;
  }

  .portfolio-slides {
    width: 360px;
    margin-bottom: 20px;
  }

  .review-slides {
    width: 360px;
  }
  .blog-slides {
    width: 360px;
  }
}

/* Only for 425 width devices */

@media only screen and (max-width: 426px) and (min-width: 377px) {
  .service-slides {
    width: 400px;
    margin-left: 6px;
  }

  .portfolio-slides {
    width: 400px;
    margin-bottom: 20px;
    margin-left: 5px;
  }

  .review-slides {
    width: 410px;
  }
  .review-slides img {
    width: 360px;
    margin: 20px;
  }
  .blog-slides {
    width: 400px;
    margin-left: 7px;
  }
}

/* Only for 768 width devices */

@media only screen and (max-width: 769px) and (min-width: 427px) {
  .service-slides {
    width: 350px;
    margin-left: 6px;
  }

  .portfolio-slides {
    width: 360px;
    margin-bottom: 20px;
    margin-left: 5px;
  }

  .review-slides {
    width: 350px;
  }
  .blog-slides {
    width: 350px;
    margin-left: 7px;
  }
}

/* Only for 1024 width devices */
@media only screen and (max-width: 1025px) and (min-width: 770px) {
  .service-slides {
    width: 379px;
    margin-left: 6px;
  }

  .nav-bar-links {
    font-size: 14px;
    padding: 1px 10px;
  }
  .nav-bar-links-btn {
    font-size: 10px;
  }

  .about-png {
    width: 400px;
    height: 400px;
    margin-right: 50px;
  }
  .banner-png {
    width: 400px;
    height: 400px;
  }

  .about-content {
    gap: 40px;
  }

  .portfolio-slides {
    width: 360px;
    margin-bottom: 20px;
    margin-left: 5px;
  }

  .review-slides {
    width: 420px;
  }
  .blog-slides {
    width: 350px;
    margin-left: 7px;
  }
}

/* For 1025 + width devices */
 @media only screen and (max-width: 1441px) { */
  .service-slides {
    width: 32px;
  }

  .nav-bar-links {
    font-size: 14px;
    padding: 1px 10px;
  }
  .nav-bar-links-btn {
    font-size: 10px;
  }

  .about-png {
    width: 400px;
    height: 400px;
    margin-right: 50px;
  }
  .banner-png {
    width: 400px;
    height: 400px;
  }

  .about-content {
    gap: 40px;
  }

  .portfolio-slides {
    width: 360px;
    margin-bottom: 20px;
    margin-left: 5px;
  }

  .review-slides {
    width: 420px;
  }
  .blog-slides {
    width: 350px;
    margin-left: 7px;
  }
} */

#choose-us-bg {
  height: 300px;
  background-image: url("../asset/bg-behind-why-chooseus.png");
  background-repeat: no-repeat;
}

.swiper-pagination-bullet {
  background-color: #2d6ed6 !important;
  float: left;
  width: 25px;
  height: 25px;
}
.swiper-pagination-bullet-active {
  background-color: #226ce5 !important;
  float: left;
  width: 28px;
  height: 28px;
  background-image: url("../asset/trending_flat.png");
}

.choose-us-bg-img {
  background: url('../asset/bg-behind-why-chooseus.png') no-repeat;
  height: 300px;
  width: 100%;
}
