@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-outline {
    padding: 12px 32px 12px 32px;
    border-radius: 8px;
    gap: 8px;
    border: 1px solid #226CE5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #226CE5
}

.btn-outline:hover{
    background-color:#226CE5;
    border: 1px solid blue;
    transition: all ease-in-out 0.2s;
}


.bg-img {
    background-image: url('../asset/Background.png');
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-img h1{
    font-size: 60px;
    font-weight: bold;
}