@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-outline {
  padding: 12px 32px 12px 32px;
  border-radius: 8px;
  gap: 8px;
  border: 1px solid #226ce5;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #226ce5;
}

.btn-outline:hover {
  background-color: #226ce5;
  border: 1px solid blue;
  transition: all ease-in-out 0.2s;
}

.clip-path {
  clip-path: polygon( 0% 0%,100% 0%,100% 100%,100% 100%,99.128% 99.716%,96.678% 98.944%,92.898% 97.806%,88.035% 96.425%,82.337% 94.922%,76.053% 93.419%,69.429% 92.037%,62.713% 90.9%,56.155% 90.128%,50% 89.844%,50% 89.844%,43.845% 90.128%,37.287% 90.9%,30.571% 92.037%,23.947% 93.419%,17.663% 94.922%,11.965% 96.425%,7.102% 97.806%,3.322% 98.944%,0.872% 99.716%,0% 100%,0% 0%)
}

.error {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7faff;
}

.error div h1 {
  font-size: 60px;
  font-weight: bold;
}

.error div p {
  font-size: 20px;
  font-weight: bold;
  color: #2d3d59;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .btn {
    width: 100%;
  }
}

#choose-us-bg {
  height: 300px;
  background-image: url('../asset/bg-behind-why-chooseus.png');
  background-repeat: no-repeat;
}

